# Demographic Data Analysis
## Setting up workspace

In [32]:
import pandas as pd
import numpy as np

In [33]:
# Read data from file
df = pd.read_csv('adult.data.csv',sep=",").copy()
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

**Question 1**

How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [34]:
race_count = df.groupby('race')['race'].count().sort_values(ascending=False)
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

**Question 2**

What is the average age of men?

In [35]:
male = df[df['sex'] == 'Male']
total_male = male.value_counts().sum()
average_age_men = np.round((male['age'].sum() / total_male),1)
print(f"Average age of men: {average_age_men}")

Average age of men: 39.4

**Question 3**

What is the percentage of people who have a Bachelor's degree?

In [36]:
total_entries = df['education'].value_counts().sum()
bachelors = df[df['education']=='Bachelors'].value_counts(df['education']).sum()
percentage_bachelors = np.round(((bachelors / total_entries) * 100),1)
print(f"Percentage of people with Bachelor's degree: {percentage_bachelors}%")

Percentage of people with Bachelor's degree: 16.4%

**Question 4**

- What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
- What percentage of people without advanced education make more than 50K?

In [37]:
# with and without `Bachelors`, `Masters`, or `Doctorate`
advanced_ed = df.drop(df[(df.education != 'Bachelors') 
                            & (df.education != 'Masters') 
                            & (df.education != 'Doctorate')].index)
advanced_education = advanced_ed['education'].value_counts().sum()

low_ed = df.drop(df[(df.education == 'Bachelors') 
                            | (df.education == 'Masters') 
                            | (df.education == 'Doctorate')].index)
low_education = low_ed['education'].value_counts().sum()

higher_education = (advanced_education / total_entries) * 100
lower_education = (low_education / total_entries) * 100

# percentage with salary >50K

adv_ed_high_sal = advanced_ed[advanced_ed['salary']=='>50K'].value_counts().sum()
adv_ed_low_sal = advanced_ed[advanced_ed['salary']=='=<50K'].value_counts().sum()

low_ed_high_sal = low_ed[low_ed['salary']=='>50K'].value_counts().sum()
low_ed_low_sal = low_ed[low_ed['salary']=='=<50K'].value_counts().sum()

higher_education_rich = np.round(((adv_ed_high_sal / advanced_education) * 100),1)
lower_education_rich = np.round(((low_ed_high_sal / low_education) * 100),1)

print(f"Percentage with advanced education that earn >50K: {higher_education_rich}%")
print(f"Percentage without advanced education that earn >50K: {lower_education_rich}%")

Percentage with advanced education that earn >50K: 46.5%
Percentage without advanced education that earn >50K: 17.4%

**Question 5**

What is the minimum number of hours a person works per week (hours-per-week feature)?

In [38]:
hours_pw = df['hours-per-week']
min_work_hours = hours_pw.loc[hours_pw.idxmin()]
print(f"Minimum number of hours a person works per week: {min_work_hours}")

Minimum number of hours a person works per week: 1

**Question 6**

What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [39]:
num_min_workers = df[df['hours-per-week']==(df['hours-per-week'].min())].value_counts(df['hours-per-week']).sum()

min_hpw = df[df['hours-per-week']==(df['hours-per-week'].min())]
min_hpw_high_sal = min_hpw[min_hpw['salary']=='>50K'].value_counts(['salary']).sum()  

rich_percentage = (min_hpw_high_sal / num_min_workers) * 100
print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")

Percentage of rich among those who work fewest hours: 10.0%

**Question 7**

What country has the highest percentage of people that earn >50K and what is that percentage?

In [40]:
country_salaries = df.groupby(['native-country'])['salary'].value_counts(normalize=True)
rich_country_people = country_salaries.drop(index = '<=50K',level=1)
richest_country = rich_country_people.idxmax()
highest_earning_country = richest_country[0]

highest_earning_country_percentage = np.round(rich_country_people.loc[rich_country_people.idxmax()]*100,1)
print(f"Country with most high-earning people: {highest_earning_country}")
print(f"Percentage of rich people in this country: {highest_earning_country_percentage}%")

Country with most high-earning people: Iran
Percentage of rich people in this country: 41.9%

**Question 8**

Identify the most popular occupation for those who earn >50K in India.

In [41]:
high_sal = df[df['salary']=='>50K']
india_high_sal = high_sal[high_sal['native-country']=='India']
jobs_india_high_sal = india_high_sal['occupation'].value_counts()

top_IN_occupation = jobs_india_high_sal.idxmax()
print(f"Most popular high-earninng occupation in India:{top_IN_occupation}")

Most popular high-earninng occupation in India:Prof-specialty